.btn-home-call-to-action {
  min-height: 234px;
}

.home-link,
.home-link:hover {
  text-decoration: none;
}

.btn-outline-dark.btn-home-call-to-action {
  border-color: #cccccc;
}

.welcome-box {
  margin-top: 75px;
}

.intervention-box {
  margin-top: 55px;
}

.intervention-box div.col-md-6 {
  margin-bottom: 20px;
}
