.page-title {
  display: inline-block;
  margin-right: 6px;
}

.save-plan-buttons-column {
  text-align: right;
  padding-top: 6px;
}

.save-as-finalized-plan-btn {
  margin-left: 12px;
}

.page-title-col hr {
  display: block;
  margin-top: 6px;
}

.table-title {
  font-weight: 200;
}

.table-bread-crumbs {
  padding-left: 0;
  background: transparent;
}

.edit-plan-title-input-group {
  display: inline-flex;
  max-width: 75%;
  top: -4px;
}

.plan-jurisdiction-selection-checkbox {
  margin-left: 0px;
}

.plan-jurisdiction-select-all-checkbox {
  margin-left: 0px;
  margin-top: 0.075rem;
}

.plan-jurisdiction-name.btn-link {
  cursor: pointer;
}

.irs-plan-map #map-1 {
  height: 90vh !important;
  min-height: auto;
}

.irs-plan-map {
  margin-bottom: 24px;
  margin-top: 6px;
}

.select-jurisdictin-tooltip {
  padding: 6px 8px 0 !important;
  font-weight: 600 !important;
}

.select-jurisdictin-tooltip-hint {
  color: grey;
  font-size: 0.75rem;
  font-style: italic;
  padding: 0 6px 8px !important;
}
