.map-resource-widget {
  width: 100%;
  max-height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
}

.map-resource-widget .map-wrapper {
  flex-grow: 1;
  height: inherit;
}

.map-resource-widget #resource-calc-widget {
  background: #fafaf3;
  padding: 20px;
  width: 30%;
  height: inherit;
  margin-left: 5px;
}

.step-slider > li {
  z-index: 0;
}
