window._env_ = {
    "GENERATE_SOURCEMAP": "{{ getv "/generate/sourcemap" "false" }}",
    "SKIP_PREFLIGHT_CHECK": "{{ getv "/skip/preflight/check" "true" }}",
    "REACT_APP_DOMAIN_NAME": "{{ getv "/react/app/domain/name" "http://localhost:3000" }}",
    "REACT_APP_WEBSITE_NAME": "{{ getv "/react/app/website/name" "Reveal" }}",
    "REACT_APP_THEME_COLOR": "{{ getv "/react/app/theme/color" "000000" }}",
    "REACT_APP_LANGUAGE": "{{ getv "/react/app/language" "en" }}",
    "REACT_APP_GA_CODE": "{{ getv "/react/app/ga/code" "UA-156670499-1" }}",
    "REACT_APP_ENABLE_IRS": "{{ getv "/react/app/enable/irs" "true" }}",
    "REACT_APP_ENABLE_FI": "{{ getv "/react/app/enable/fi" "true" }}",
    "REACT_APP_ENABLE_USERS": "{{ getv "/react/app/enable/users" "true" }}",
    "REACT_APP_ENABLE_ASSIGN": "{{ getv "/react/app/enable/assign" "true" }}",
    "REACT_APP_ENABLE_ABOUT": "{{ getv "/react/app/enable/about" "true" }}",
    "REACT_APP_ENABLE_TEAMS": "{{ getv "/react/app/enable/teams" "true" }}",
    "REACT_APP_ENABLE_PRACTITIONERS": "{{ getv "/react/app/enable/practitioners" "true" }}",
    "REACT_APP_ENABLE_MDA_POINT": "{{ getv "/react/app/enable/mda/point" "true" }}",
    "REACT_APP_ENABLE_POPULATION_SERVER_SETTINGS": "{{ getv "/react/app/enable/population/server/settings" "true" }}",
    "REACT_APP_ENABLE_PLANNING": "{{ getv "/react/app/enable/planning" "true" }}",
    "REACT_APP_ENABLE_JURISDICTION_METADATA_UPLOAD": "{{ getv "/react/app/enable/jurisdiction/metadata/upload" "true" }}",
    "REACT_APP_ENABLE_STRUCTURE_METADATA_UPLOAD": "{{ getv "/react/app/enable/structure/metadata/upload" "true" }}",
    "REACT_APP_ENABLE_IRS_PERFORMANCE_REPORT": "{{ getv "/react/app/enable/irs/performance/report" "true" }}",
    "REACT_APP_ENABLE_CONFIG_FORM": "{{ getv "/react/app/enable/config/form" "true" }}",
    "REACT_APP_DISABLE_LOGIN_PROTECTION": "{{ getv "/react/app/disable/login/protection" "false" }}",
    "REACT_APP_ENABLE_IRS_MOPUP_REPORTING": "{{ getv "/react/app/enable/irs/mopup/reporting" "true" }}",
    "REACT_APP_ENABLE_SMC": "{{ getv "/react/app/enable/smc" "true" }}",
    "REACT_APP_SUPERSET_API_BASE": "{{ getv "/react/app/superset/api/base" "https://superset.reveal-stage.smartregister.org/" }}",
    "REACT_APP_SUPERSET_API_ENDPOINT": "{{ getv "/react/app/superset/api/endpoint" "slice" }}",
    "REACT_APP_SUPERSET_MAX_RECORDS": "{{ getv "/react/app/superset/max/records" "150" }}",
    "REACT_APP_SUPERSET_PLANS_SLICE": "{{ getv "/react/app/superset/plans/slice" "579" }}",
    "REACT_APP_SUPERSET_GOALS_SLICE": "{{ getv "/react/app/superset/goals/slice" "298" }}",
    "REACT_APP_SUPERSET_JURISDICTIONS_SLICE": "{{ getv "/react/app/superset/jurisdictions/slice" "626" }}",
    "REACT_APP_SUPERSET_STRUCTURES_SLICE": "{{ getv "/react/app/superset/structures/slice" "300" }}",
    "REACT_APP_SUPERSET_JURISDICTIONS_DATA_SLICE": "{{ getv "/react/app/superset/jurisdictions/data/slice" "301" }}",
    "REACT_APP_SUPERSET_PLAN_STRUCTURE_PIVOT_SLICE": "{{ getv "/react/app/superset/plan/structure/pivot/slice" "302" }}",
    "REACT_APP_SUPERSET_PLANS_TABLE_SLICE": "{{ getv "/react/app/superset/plans/table/slice" "303" }}",
    "REACT_APP_SUPERSET_TASKS_SLICE": "{{ getv "/react/app/superset/tasks/slice" "586" }}",
    "REACT_APP_SUPERSET_JURISDICTION_EVENTS_SLICE": "{{ getv "/react/app/superset/jurisdiction/events/slice" "611" }}",
    "REACT_APP_SUPERSET_IRS_REPORTING_JURISDICTIONS_DATA_SLICES": "{{ getv "/react/app/superset/irs/reporting/jurisdictions/data/slices" "58810000" }}",
    "REACT_APP_SUPERSET_IRS_REPORTING_STRUCTURES_DATA_SLICE": "{{ getv "/react/app/superset/irs/reporting/structures/data/slice" "607" }}",
    "REACT_APP_SUPERSET_IRS_REPORTING_PLANS_SLICE": "{{ getv "/react/app/superset/irs/reporting/plans/slice" "587" }}",
    "REACT_APP_SUPERSET_IRS_REPORTING_JURISDICTIONS_FOCUS_AREA_LEVEL": "{{ getv "/react/app/superset/irs/reporting/jurisdictions/focus/area/level" "5" }}",
    "REACT_APP_SUPERSET_IRS_REPORTING_JURISDICTIONS_COLUMNS": "{{ getv "/react/app/superset/irs/reporting/jurisdictions/columns" "namibia2019" }}",
    "REACT_APP_SUPERSET_IRS_REPORTING_FOCUS_AREAS_COLUMNS": "{{ getv "/react/app/superset/irs/reporting/focus/areas/columns" "namibia2019" }}",
    "REACT_APP_SUPERSET_IRS_REPORTING_INDICATOR_STOPS": "{{ getv "/react/app/superset/irs/reporting/indicator/stops" "namibia2019" }}",
    "REACT_APP_SUPERSET_IRS_REPORTING_INDICATOR_ROWS": "{{ getv "/react/app/superset/irs/reporting/indicator/rows" "namibia2019" }}",
    "REACT_APP_SUPERSET_MDA_POINT_REPORTING_PLANS_SLICE": "{{ getv "/react/app/superset/mda/point/reporting/plans/slice" "575" }}",
    "REACT_APP_SUPERSET_MDA_POINT_REPORTING_JURISDICTIONS_DATA_SLICES": "{{ getv "/react/app/superset/mda/point/reporting/jurisdictions/data/slices" "574" }}",
    "REACT_APP_SUPERSET_MDA_POINT_LOCATION_REPORT_DATA_SLICE": "{{ getv "/react/app/superset/mda/point/location/report/data/slice" "576" }}",
    "REACT_APP_SUPERSET_MDA_POINT_CHILD_REPORT_DATA_SLICE": "{{ getv "/react/app/superset/mda/point/child/report/data/slice" "578" }}",
    "REACT_APP_SUPERSET_MDA_POINT_REPORTING_JURISDICTIONS_FOCUS_AREA_LEVEL": "{{ getv "/react/app/superset/mda/point/reporting/jurisdictions/focus/area/level" "2" }}",
    "REACT_APP_ENABLE_OPENSRP_OAUTH": "{{ getv "/react/app/enable/opensrp/oauth" "true" }}",
    "REACT_APP_OPENSRP_CLIENT_ID": "{{ getv "/react/app/opensrp/client/id" "hunter2" }}",
    "REACT_APP_OPENSRP_ACCESS_TOKEN_URL": "{{ getv "/react/app/opensrp/access/token/url" "https://keycloak-stage.smartregister.org/auth/realms/reveal-stage/protocol/openid-connect/token" }}",
    "REACT_APP_OPENSRP_AUTHORIZATION_URL": "{{ getv "/react/app/opensrp/authorization/url" "https://keycloak-stage.smartregister.org/auth/realms/reveal-stage/protocol/openid-connect/auth" }}",
    "REACT_APP_OPENSRP_USER_URL": "{{ getv "/react/app/opensrp/user/url" "https://reveal-stage.smartregister.org/opensrp/user-details" }}",
    "REACT_APP_OPENSRP_API_BASE_URL": "{{ getv "/react/app/opensrp/api/base/url" "https://reveal-stage.smartregister.org/opensrp/rest/" }}",
    "REACT_APP_OPENSRP_OAUTH_STATE": "{{ getv "/react/app/opensrp/oauth/state" "opensrp" }}",
    "REACT_APP_ENABLE_ONADATA_OAUTH": "{{ getv "/react/app/enable/onadata/oauth" "false" }}",
    "REACT_APP_GISIDA_MAPBOX_TOKEN": "{{ getv "/react/app/gisida/mapbox/token" "pk.eyJ1IjoidGhhaWxhbmRidmJkIiwiYSI6ImNqdnh4b3d6NTBhNW4zeXBjc243OXpmamgifQ.5eHgZf6XwbUV8tvkmlOLZw" }}",
    "REACT_APP_DIGITAL_GLOBE_CONNECT_ID": "{{ getv "/react/app/digital/globe/connect/id" "" }}",
    "REACT_APP_DATE_FORMAT": "{{ getv "/react/app/date/format" "yyyy-MM-dd" }}",
    "REACT_APP_DEFAULT_PLAN_DURATION_DAYS": "{{ getv "/react/app/default/plan/duration/days" "20" }}",
    "REACT_APP_PLAN_VERSION": "{{ getv "/react/app/plan/version" "1" }}",
    "REACT_APP_IRS_PLAN_COUNTRIES": "{{ getv "/react/app/irs/plan/countries" "NA" }}",
    "REACT_APP_ENV": "{{ getv "/react/app/env" "prod" }}",
    "REACT_APP_OPENSRP_LOGOUT_URL": "{{ getv "/react/app/opensrp/logout/url" "https://reveal-stage.smartregister.org/opensrp/logout.do" }}",
    "REACT_APP_EXPRESS_OAUTH_LOGOUT_URL": "{{ getv "/react/app/express/oauth/logout/url" "http://localhost:3000/logout" }}",
    "REACT_APP_EXPRESS_OAUTH_GET_STATE_URL": "{{ getv "/react/app/express/oauth/get/state/url" "http://localhost:3000/oauth/state" }}",
    "REACT_APP_BACKEND_ACTIVE": "{{ getv "/react/app/backend/active" "true" }}",
    "REACT_APP_VERSION": "{{ getv "/react/app/version" "$npm_package_version" }}",
    "REACT_APP_NAME": "{{ getv "/react/app/name" "$npm_package_namehttps://github.com/onaio/express-server" }}",
    "REACT_APP_DISPLAYED_PLAN_TYPES": "{{ getv "/react/app/displayed/plan/types" "FI" }}",
    "REACT_APP_HIDDEN_PLAN_STATUSES": "{{ getv "/react/app/hidden/plan/statuses" "retired" }}",
    "REACT_APP_ENABLE_jURISDICTION_AUTO_SELECTION_FOR_PLAN_TYPES": "{{ getv "/react/app/enable/jurisdiction/auto/selection/for/plan/types" "IRSDynamic-IRS" }}",
    "REACT_APP_MAP_DISABLED_PLAN_TYPES": "{{ getv "/react/app/map/disabled/plan/types" "IRS" }}",
    "REACT_APP_NAVBAR_BRAND_IMG_SRC": "{{ getv "/react/app/navbar/brand/img/src" "https://github.com/onaio/reveal-frontend/raw/master/src/assets/images/logo.png" }}",
    "REACT_APP_REVEAL_BRAND_IMG_SRC": "{{ getv "/react/app/reveal/brand/img/src" "https://github.com/onaio/reveal-frontend/raw/master/src/assets/images/logo-small.png" }}",
    "REACT_APP_ENABLED_JURISDICTION_METADATA_IDENTIFIER_OPTIONS": "{{ getv "/react/app/enabled/jurisdiction/metadata/identifier/options" "POPULATIONRISK" }}",
    "REACT_APP_ASSIGNMENT_PAGE_SHOW_MAP": "{{ getv "/react/app/assignment/page/show/map" "true" }}",
    "REACT_APP_ENABLE_DYNAMIC_MDA": "{{ getv "/react/app/enable/dynamic/mda" "true" }}",
    "REACT_APP_SUPERSET_DYNAMIC_MDA_REPORTING_PLANS_SLICE": "{{ getv "/react/app/superset/dynamic/mda/reporting/plans/slice" "596" }}",
    "REACT_APP_SUPERSET_DYNAMIC_MDA_REPORTING_JURISDICTIONS_DATA_SLICES": "{{ getv "/react/app/superset/dynamic/mda/reporting/jurisdictions/data/slices" "600" }}",
    "REACT_APP_SUPERSET_DYNAMIC_MDA_REPORTING_JURISDICTIONS_COLUMNS": "{{ getv "/react/app/superset/dynamic/mda/reporting/jurisdictions/columns" "zambiaMDAUpper2020" }}",
    "REACT_APP_SUPERSET_DYNAMIC_MDA_REPORTING_FOCUS_AREAS_COLUMNS": "{{ getv "/react/app/superset/dynamic/mda/reporting/focus/areas/columns" "zambiaMDALower2020" }}",
    "REACT_APP_SUPERSET_DYNAMIC_MDA_REPORTING_JURISDICTIONS_FOCUS_AREA_LEVEL": "{{ getv "/react/app/superset/dynamic/mda/reporting/jurisdictions/focus/area/level" "3" }}",
    "REACT_APP_SHOW_TEAM_ASSIGN_ON_OPERATIONAL_AREAS_ONLY": "{{ getv "/react/app/show/team/assign/on/operational/areas/only" "true " }}",
    "REACT_APP_ENABLED_FI_REASONS": "{{ getv "/react/app/enabled/fi/reasons" "Case TriggeredRoutine" }}",
    "REACT_APP_ENABLE_HOME_MANAGE_PLANS_LINK": "{{ getv "/react/app/enable/home/manage/plans/link" "true" }}",
    "REACT_APP_ENABLE_HOME_PLANNING_VIEW_LINK": "{{ getv "/react/app/enable/home/planning/view/link" "true" }}",
    "REACT_APP_SUPERSET_IRS_DISTRICT_PERFORMANCE_REPORT_SLICE": "{{ getv "/react/app/superset/irs/district/performance/report/slice" "601" }}",
    "REACT_APP_SUPERSET_IRS_DATA_COLLECTORS_PERFORMANCE_REPORT_SLICE": "{{ getv "/react/app/superset/irs/data/collectors/performance/report/slice" "602" }}",
    "REACT_APP_SUPERSET_IRS_SOP_PERFORMANCE_REPORT_SLICE": "{{ getv "/react/app/superset/irs/sop/performance/report/slice" "604" }}",
    "REACT_APP_SUPERSET_IRS_SOP_BY_DATE_PERFORMANCE_REPORT_SLICE": "{{ getv "/react/app/superset/irs/sop/by/date/performance/report/slice" "609" }}",
    "REACT_APP_PLAN_TYPES_ALLOWED_TO_CREATE": "{{ getv "/react/app/plan/types/allowed/to/create" "IRSFIMDA-Point" }}",
    "REACT_APP_ASSIGN_TEAMS_PLAN_TYPES_DISPLAYED": "{{ getv "/react/app/assign/teams/plan/types/displayed" "FIIRSMDAMDA-PointDynamic-FIDynamic-IRSDynamic-MDAIRS-LiteMDA-Lite" }}",
    "REACT_APP_TASK_GENERATION_STATUS": "{{ getv "/react/app/task/generation/status" "False" }}",
    "REACT_APP_HIDDEN_MAP_LEGEND_ITEMS": "{{ getv "/react/app/hidden/map/legend/items" "Partially Sprayed" }}",
    "REACT_APP_ENABLE_IRS_LITE": "{{ getv "/react/app/enable/irs/lite" "true" }}",
    "REACT_APP_SUPERSET_IRS_LITE_REPORTING_JURISDICTIONS_DATA_SLICES": "{{ getv "/react/app/superset/irs/lite/reporting/jurisdictions/data/slices" "625" }}",
    "REACT_APP_SUPERSET_IRS_LITE_REPORTING_JURISDICTIONS_FOCUS_AREA_LEVEL": "{{ getv "/react/app/superset/irs/lite/reporting/jurisdictions/focus/area/level" "3" }}",
    "REACT_APP_SUPERSET_IRS_LITE_REPORTING_JURISDICTIONS_FOCUS_AREA_SLICE": "{{ getv "/react/app/superset/irs/lite/reporting/jurisdictions/focus/area/slice" "617" }}",
    "REACT_APP_SUPERSET_IRS_LITE_REPORTING_JURISDICTIONS_COLUMNS": "{{ getv "/react/app/superset/irs/lite/reporting/jurisdictions/columns" "irsLiteZambiaJurisdictions2020" }}",
    "REACT_APP_SUPERSET_IRS_LITE_REPORTING_FOCUS_AREAS_COLUMNS": "{{ getv "/react/app/superset/irs/lite/reporting/focus/areas/columns" "irsLiteZambiaFocusArea2020" }}",
    "REACT_APP_SUPERSET_IRS_LITE_REPORTING_INDICATOR_STOPS": "{{ getv "/react/app/superset/irs/lite/reporting/indicator/stops" "zambia2020" }}",
    "REACT_APP_SUPERSET_IRS_LITE_REPORTING_INDICATOR_ROWS": "{{ getv "/react/app/superset/irs/lite/reporting/indicator/rows" "zambia2020" }}",
    "REACT_APP_SUPERSET_IRS_LITE_REPORTING_JURISDICTIONS_DATA_SLICE": "{{ getv "/react/app/superset/irs/lite/reporting/jurisdictions/data/slice" "625" }}",
    "REACT_APP_SUPERSET_IRS_LITE_REPORTING_STRUCTURES_DATA_SLICE": "{{ getv "/react/app/superset/irs/lite/reporting/structures/data/slice" "620" }}",
    "REACT_APP_SUPERSET_IRS_LITE_REPORTING_PLANS_SLICE": "{{ getv "/react/app/superset/irs/lite/reporting/plans/slice" "621" }}",
    "REACT_APP_SUPERSET_IRS_LITE_REPORTING_JURISDICTIONS_DATA_SLICE": "{{ getv "/react/app/superset/irs/lite/reporting/jurisdictions/data/slice" "0" }}",
    "REACT_APP_SUPERSET_IRS_LITE_REPORTING_STRUCTURES_DATA_SLICE": "{{ getv "/react/app/superset/irs/lite/reporting/structures/data/slice" "0" }}",
    "REACT_APP_SUPERSET_IRS_LITE_REPORTING_PLANS_SLICE": "{{ getv "/react/app/superset/irs/lite/reporting/plans/slice" "0" }}",
    "REACT_APP_PRACTITIONER_REQUEST_PAGE_SIZE": "{{ getv "/react/app/practitioner/request/page/size" "400" }}",
    "REACT_APP_ENABLE_DEFAULT_PLAN_USER_FILTER": "{{ getv "/react/app/enable/default/plan/user/filter" "false" }}",
    "REACT_APP_MDA_POINT_FORM_INTERVENTION_TITLE": "{{ getv "/react/app/mda/point/form/intervention/title" "SMC_TITLE" }}",
    "REACT_APP_SUPERSET_SMC_REPORTING_FOCUS_AREAS_COLUMNS": "{{ getv "/react/app/superset/smc/reporting/focus/areas/columns" "smcJurisdictionsColumns" }}",
    "REACT_APP_SUPERSET_SMC_REPORTING_JURISDICTIONS_COLUMNS": "{{ getv "/react/app/superset/smc/reporting/jurisdictions/columns" "smcJurisdictionsColumns" }}",
    "REACT_APP_SUPERSET_SMC_REPORTING_JURISDICTIONS_FOCUS_AREA_LEVEL": "{{ getv "/react/app/superset/smc/reporting/jurisdictions/focus/area/level" "2" }}",
    "REACT_APP_SUPERSET_SMC_REPORTING_PLANS_SLICE": "{{ getv "/react/app/superset/smc/reporting/plans/slice" "1" }}",
    "REACT_APP_SUPERSET_SMC_REPORTING_JURISDICTIONS_DATA_SLICES": "{{ getv "/react/app/superset/smc/reporting/jurisdictions/data/slices" "5" }}",
    "REACT_APP_SUPERSET_SMC_REPORTING_STRUCTURES_DATA_SLICE": "{{ getv "/react/app/superset/smc/reporting/structures/data/slice" "9" }}",
    "REACT_APP_SUPERSET_SMC_REPORTING_INDICATOR_STOPS": "{{ getv "/react/app/superset/smc/reporting/indicator/stops" "nigeria2020" }}",
    "REACT_APP_SUPERSET_SMC_REPORTING_INDICATOR_ROWS": "{{ getv "/react/app/superset/smc/reporting/indicator/rows" "nigeria2020" }}",
    "REACT_APP_CHECK_SESSION_EXPIRY_STATUS": "{{ getv "/react/app/check/session/expiry/status" "false" }}",
    "REACT_APP_ENABLE_JURISDICTIONS_AUTO_SELECTION": "{{ getv "/react/app/enable/jurisdictions/auto/selection" "true" }}",
    "REACT_APP_OPENSRP_GENERATED_TASKS_INTERVENTIONS": "{{ getv "/react/app/opensrp/generated/tasks/interventions" "Dynamic-FI IRS" }}",
    "REACT_APP_AUTO_SELECT_FI_CLASSIFICATION": "{{ getv "/react/app/auto/select/fi/classification" "true" }}",
    "REACT_APP_ENABLE_MDA_LITE": "{{ getv "/react/app/enable/mda/lite" "true" }}",
    "REACT_APP_SUPERSET_MDA_LITE_REPORTING_PLANS_SLICE": "{{ getv "/react/app/superset/mda/lite/reporting/plans/slice" "634" }}",
    "REACT_APP_SUPERSET_MDA_LITE_REPORTING_JURISDICTIONS_DATA_SLICES": "{{ getv "/react/app/superset/mda/lite/reporting/jurisdictions/data/slices" "636629" }}",
    "REACT_APP_SUPERSET_MDA_LITE_REPORTING_SUPERVISORS_DATA_SLICE": "{{ getv "/react/app/superset/mda/lite/reporting/supervisors/data/slice" "633" }}",
    "REACT_APP_SUPERSET_MDA_LITE_REPORTING_CDD_DATA_SLICE": "{{ getv "/react/app/superset/mda/lite/reporting/cdd/data/slice" "630" }}",
    "REACT_APP_SUPERSET_MDA_LITE_REPORTING_WARD_SLICE": "{{ getv "/react/app/superset/mda/lite/reporting/ward/slice" "631" }}",
    "REACT_APP_SUPERSET_MDA_LITE_REPORTING_WARD_GEOJSON_SLICE": "{{ getv "/react/app/superset/mda/lite/reporting/ward/geojson/slice" "632" }}",
    "REACT_APP_SHOW_MAP_AT_JURISDICTION_LEVEL": "{{ getv "/react/app/show/map/at/jurisdiction/level" "2" }}",
    "REACT_APP_HIDE_PLAN_FORM_FIELDS_ON_EDIT": "{{ getv "/react/app/hide/plan/form/fields/on/edit" "interventionTypefiReasonactivityActionTitleactivityActionReasonactivityActionDefinitionUriactivityTimingPeriodStartactivityTimingPeriodEndactivityGoalPrioritytriggersAndConditions" }}",
    "REACT_APP_CASE_TRIGGERED_DRAFT_EDIT_ADD_ACTIVITIES": "{{ getv "/react/app/case/triggered/draft/edit/add/activities" "true" }}",
    "REACT_APP_HIDE_PLAN_FORM_FIELDS_ON_CREATE": "{{ getv "/react/app/hide/plan/form/fields/on/create" "interventionTypefiReasonactivityActionTitleactivityActionReasonactivityActionDefinitionUriactivityTimingPeriodStartactivityTimingPeriodEndactivityGoalPrioritytriggersAndConditions" }}",
    "REACT_APP_PLAN_LIST_SHOW_FI_REASON_COLUMN": "{{ getv "/react/app/plan/list/show/fi/reason/column" "true" }}",
    "REACT_APP_CLIENTS_LIST_BATCH_SIZE": "{{ getv "/react/app/clients/list/batch/size" "100" }}",
}
