.irs-report-table .ReactTable .rt-thead.-headerGroups .rt-th {
  white-space: normal;
}

.irs-report-table .ReactTable .rt-thead.-header .rt-th {
  font-weight: normal;
  white-space: normal;
}

.irs-report-indicator-container {
  padding: 7px 5px;
}
