/** Holds styling for tables */
.ReactTable .rt-thead .rt-tr {
  text-align: left;
}

.ReactTable .rt-td.centered,
.ReactTable .rt-th.centered {
  text-align: center;
}

.ReactTable .rt-td.indicator {
  padding: 0;
}

.ReactTable .rt-td {
  white-space: unset;
}

.ReactTable .rt-td .indicator-container {
  padding: 7px 5px;
}

.ReactTable .rt-thead .rt-th {
  background: #fff;
  font-weight: bold;
}

.ReactTable .rt-thead.-header {
  box-shadow: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.ReactTable {
  border: none;
}

.ReactTable .rt-thead .rt-th {
  border-right: none;
}

.ReactTable .rt-thead.-headerGroups {
  border-bottom: none;
}
