.fi-active {
  border: 1px solid;
  border-radius: 15px;
  padding: 5%;
}

.responseItem {
  margin-bottom: 45px;
}

.map-area #map-1 {
  height: 200px;
  min-height: 200px;
}

div.col div.mb-5 div.row div.col-6.col dl.row.mt-3 {
  margin-top: 3rem !important;
  margin-left: 20px;
}

div.container div#main-page-row.row div.col div.mb-5 .form-inline {
  margin-bottom: 3em;
}

h3.text-muted {
  text-align: center;
  margin-top: 3em;
}

html .mb-4.complete {
  margin-top: 4em;
}
