.filter-bar-btns {
  color: black;
  min-height: 35px;
}

.filter-bar-btns span {
  font-size: 16px !important;
  margin: 5px;
}

.btn-outline-secondary-active {
  color: #28a745 !important;
  border-color: #28a745 !important;
}
