.mapSidebar {
  background: #000000;
  color: #ffffff;
  padding: 15px;
  height: 800px;
  overflow-y: auto;
}

.mapSidebar hr {
  border-top: 1px solid #ffffff;
}

.mapSidebar .responseItem {
  border-bottom: 1px dotted #efefef;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.mapSidebar .responseItem p {
  margin-bottom: 0px;
}

html .mapSidebar .responseItem a.task-link.active h6 {
  color: #57b446;
}

div h2.page-title.mt-4.mb-4 span.badge.badge-warning.badge-pill {
  color: #ffffff;
}

div.mapSidebar span.detailview {
  display: block;
}

div.css-2b097c-container div.css-yk16xz-control {
  margin-top: 1.5em;
}

div.css-2b097c-container {
  z-index: 9999;
}

div.css-1pahdxg-control {
  margin-top: 1.5em;
}

div.mapSidebar button.btn.btn-primary.btn-lg.btn-block {
  margin-top: 1em;
}
